
//
// VARIABLES
//

// Colors
$blue: #cc8566;

// Grays
$black: #000;
$darkerGray: #292624;
$darkGray: #524b47;
$gray: #887d77;
$lightGray: #b9b1ac;
$lighterGray: #d0cbc8;
$white: #fff;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
